<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>专家团队</title>
    <link rel="stylesheet" href="${domain}assets/css/global.css">
    <link rel="stylesheet" href="${domain}assets/css/news-details.css">
    <link rel="stylesheet" href="${domain}assets/css/quill.core.css">
    <link rel="stylesheet" href="${domain}assets/css/quill.bubble.css">
    <link rel="stylesheet" href="${domain}assets/css/quill.snow.css">
    <script src="${domain}assets/js/jquery-1.11.3.min.js"></script>
</head>

<header>
    <!-- 顶部 -->
    <div class="about-head">
        <!-- 最上面logo部分 -->
        <div class="logo">
            <div class="float-left logo-left">
                <!-- 左边logo和文字 -->
                <div class="logo-left-img"></div>
            </div>
            <div class="float-right logo-right">
                <!-- 右边搜索和电话 -->
                <#include _m_fragment_import('search') />
                <div class="phone float-right">
                    <div class="phone-icon"></div>
                    <div class="phone-num">0731-88671588</div>
                </div>
            </div>
        </div>

        <!-- 第二层头部导航区 -->
        <div class="head-bar">
            <div class="app">
                <#include _m_fragment_import('category_home') />
            </div>
        </div>

        <!-- h1 关于我们 -->
        <div class="logo-h1 app">
            <h1>专家
                <span>团队</span>
            </h1>
            <div>Character</div>
        </div>

    </div>

</header>
<body>
<!-- 当前位置 -->
<@_d_content contentId=contentId >
<div class="current-position">
    <div class="app1 app">
        <div class="about-icon"></div>
        <@_d_navigation contentId=contentId>
        <div class="current-div">您当前的位置 :</div>
        <div class="current-ul">
            <ul>
                <li><a href="/index.html">网站首页</a></li>
                <span>></span>
                <#list navigations as navigation>
                <#if navigation_has_next>
                <li><a href="${navigation.url!}">${navigation.name!}</a></li>
                <span>></span>
            </#if>
        </#list>
        <li><a href="javascript:;">正文</a></li>
        </ul>
    </div>
</@_d_navigation>
</div>
<div class="news-content app">
    <h1>${title!}</h1>
    <div class="news-text">
        <div class="text1">人物描述 :
            <sapn class="text2">${description!}</sapn>
        </div>
    </div>
    <div class="news-time">
        <div class="time">
            <div class="left">发布时间 : </div>
            <div class="right">${(publishDate?string('YYYY-MM-dd'))!'${.now?string("YYYY-MM-dd")}'}</div>
        </div>
    </div>
</div>
</div>

<!-- 新闻详情 -->
<div class="news-content app ql-editor">
    ${text!}
</div>
</div>

</@_d_content>

<#include _m_fragment_import('footer') />

</body>
<script>
    $(function () {
        $('.logo-left-img').click(function () {
            location.href = '首页.html'
        })
    })
</script>

</html>